.dictionary__content {
  font-family: var(--font-family);
}
.dictionary__content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}
.dictionary__content__header-title {
  flex-direction: row;
}
.dictionary__content__header-title h1 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 700;
}
.dictionary__content__header-title p {
  color: var(--purple);
  font-size: var(--body-m-size);
  font-weight: 400;
}
.dictionary__content-noun,
.dictionary__content-verb {
  color: var(--text-color);
  margin-bottom: 32px;
}
.dictionary__content-heading {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin-bottom: 44px;
  text-transform: lowercase;
}
.dictionary__content-heading p {
  font-weight: 700;
  font-style: italic;
}
.dictionary__content-heading span {
  width: 95%;
  height: 1px;
  margin-left: 16px;
}
.dictionary__content-source {
  border-top-color: var(--divider);
  border-top: 1px;
  border-width: 100%;
}
.dictionary__content-heading span {
  background-color: var(--divider);
}

.dictionary__content__list-noun li {
  list-style-type: none;
}
.dictionary__content__list-noun li::before {
  content: "•";
  margin-right: 20px;
  color: var(--purple);
  display: inline-block;
  width: 1em;
}
