.dictionary__header {
  display: flex;
  background-color: var(--background-color);
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 24px;
}
.dictionary__header-logo {
  fill: var(--lineBreak);
}
.dictionary__header-themes {
  display: flex;
  align-items: center;
}
.dictionary__header-themes__select {
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
}
.dictionary__header-themes__select select {
  appearance: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  text-align: right;
  font-weight: 700;
}
.dictionary__header-themes__select:after {
  margin-left: 16px;
  outline: 0;
  content: url("../../assets/icon-arrow-down.svg");
}
.dictionary__header-themes__select select:focus {
  outline: 0;
}
.dictionary_header-themes__divider {
  background-color: var(--divider);
  margin: 0 16px 0 16px;
  width: 1px;
  height: 32px;
}
.dictionary__header-themes__switch {
  margin-right: 12px;
}
.dictionary__header-themes__moonIcon {
  align-self: center;
}
