$fonts: (
  "sans-serif": (
    font-family: "Sans-Serif",
    src: url("./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf"),
  ),
  "serif": (
    font-family: "Serif",
    src: url("./assets/fonts/lora/static/Lora-Regular.ttf"),
  ),
);
