$themes: (
  light: (
    backgroundColor: #ffff,
    textColor: #2d2d2d,
    searchBackground: #f4f4f4,
  ),
  dark: (
    backgroundColor: #050505,
    textColor: #ffff,
    searchBackground: #1f1f1f1f,
  ),
);
